<% layout('layouts/boilerplate') %>

    <section class="container-fluid px-0">
        <div class="row align-items-center mt-5">
            <div class="card mx-auto w-200 border-0">
                <div id="headingGroup" class="text-center d-none d-lg-block mb-2">
                    <h1 class="">ZORRO Visualizations</h1>
                </div>
                <!-- <div id="headingGroup" class="text-center d-none d-lg-block mb-2">
                <h4>Legend: The lighter, the higher percentage (better); the darker, the lower percentage (worse)</h4>
            </div> -->
            </div>
        </div>

        <% if (messages.length> 0) { %>
            <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                <%= messages[0] %>
            </div>
            <% } %>

                <div class="row align-items-center mt-3 mb-3">
                    <div class="col">
                        <div class="card mx-auto w-200">
                            <div class="card-header">
                                <div class="row mt-1 mb-1"><strong>Select Dataset</strong></div>
                            </div>
                            <div class="card-block p-2">
                                <form id="display_options" action="/visualizations" method="POST">
                                    <div class="form-group row mt-2 align-items-center">
                                        <div class="col-md-10" id="datasetSelect">
                                            <select class="form-select" name="item" id="item">
                                                <option value="" selected>--Dataset--</option>
                                                <option value="i1" <%=item==="i1" ? 'selected' : '' %>>Insurance
                                                </option>
                                                <option value="i2" <%=item==="i2" ? 'selected' : '' %>>German
                                                </option>
                                                <option value="i3" <%=item==="i3" ? 'selected' : '' %>>MPG
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-5" id="testSelect">
                                            <select class="form-select" name="test" id="test">
                                                <option value="" selected>--Test Set--</option>
                                                <option value="t1" <%=test==="t1" ? 'selected' : '' %>>Test Set 1
                                                </option>
                                                <option value="t2" <%=test==="t2" ? 'selected' : '' %>>Test Set 2
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-1">
                                            <button type="button" class="btn btn-info" data-bs-toggle="modal"
                                                data-bs-target="#helpModal"><strong>?</strong> Help</button>
                                        </div>
                                        <div class="col-md-1">
                                            <button type="submit" class="btn btn-primary">Confirm</button>
                                        </div>
                                    </div>
    
                                    <div class="modal fade" id="helpModal" tabindex="-1"
                                        aria-labelledby="helpModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modalLabel">Help for Visualization Options</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group row mt-2 align-items-center">
                                                        <p><label><b>--Dataset--</b> Choose an uploaded dataset to run ZORRO on it, if you do not see the dataset you are looking for, please upload using the button below.</label></p>
                                                        <p>After selecting a dataset, click "Confirm" to show corresponding visualizations.</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-success"
                                                        onclick="window.location.href='/'"><strong>+</strong> Upload a Dataset</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row d-flex align-items-stretch mt-5">
                    <div class="col-md-6 d-flex">
                        <div class="card w-100 h-100">
                            <div class="card-header mt-2">
                                <ul class="nav nav-pills card-header-pills" id="tabline" role="tablist">
                                        <li class="nav-item p-2"><h4><b>Model Attributes</b></h4></li>
                                        <li class="nav-item">
                                            <a class="nav-link active" id="tab1-tab" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">
                                            Symbolic Expression
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="tab2-tab" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">
                                            Model Weight
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="tab3-tab" data-bs-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">
                                            2D Zonotope
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="tab33-tab" data-bs-toggle="tab" href="#tab33" role="tab" aria-controls="tab33" aria-selected="false">
                                            3D Zonotope
                                            </a>
                                        </li>
                                </ul>
                            </div>
                            <div class="card-body p-3">
                                <div class="tab-content" id="tabContents">
                                    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                                        
                                        <% if (expression=='' ) { %>
                                            <div><p class="card-text">Nothing is selected.</p></div>
                                        <% } else { %>
                                            <div id="headingGroup" class="text-center d-none d-lg-block mt-2">
                                                <h3>Symbolic Expression (Sampled) of the Abstract Model</h3>
                                            </div>
                                            <div class="math">
                                                $$ <%= expression %> $$
                                            </div>
                                        <% } %>
                                        
                                    </div>

                                    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                                        <% if (expression=='' ) { %>
                                            <div><p class="card-text">Nothing is selected.</p></div>
                                        <% } else { %>
                                            <div id="weightGraph">
                                            </div>
                                        <% } %>
                                    </div>

                                    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                                        <% if (expression=='' ) { %>
                                            <div><p class="card-text">Nothing is selected.</p></div>
                                        <% } else { %>
                                            <div id="zonotopeForm">
                                                <form id="zonotopeForm" action="" method="">
                                                    <div class="form-group row mt-2 align-items-center">
                                                        <div class="col" id="f1Select">
                                                            <select class="form-select" name="feature1" id="feature1">
                                                                <% const features_l = JSON.parse(features) %>
                                                                <option value="" selected>--Feature 1--</option>
                                                                <option value="f0">Offset
                                                                </option>
                                                                <option value="f1"><%= features_l[0] %>
                                                                </option>
                                                                <option value="f2"><%= features_l[1] %>
                                                                </option>
                                                                <option value="f3"><%= features_l[2] %>
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="col" id="f2Select">
                                                            <select class="form-select" name="feature2" id="feature2">
                                                                <option value="" selected>--Feature 2--</option>
                                                                <option value="f0">Offset
                                                                </option>
                                                                <option value="f1"><%= features_l[0] %>
                                                                </option>
                                                                <option value="f2"><%= features_l[1] %>
                                                                </option>
                                                                <option value="f3"><%= features_l[2] %>
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="mt-2" id="zonotopeG"></div>
                                        <% } %>
                                    </div>

                                    <div class="tab-pane fade" id="tab33" role="tabpanel" aria-labelledby="tab33-tab">
                                        <% if (expression=='' ) { %>
                                            <div><p class="card-text">Nothing is selected.</p></div>
                                        <% } else { %>
                                            <div id="zonotopeForm3D">
                                                <form id="zonotopeForm3D" action="" method="">
                                                    <div class="form-group row mt-2 align-items-center">
                                                        <div class="col" id="f1Select3D">
                                                            <select class="form-select" name="feature13d" id="feature13d">
                                                                <% const features_l = JSON.parse(features) %>
                                                                <option value="" selected>--Feature 1--</option>
                                                                <option value="f0">Offset
                                                                </option>
                                                                <option value="f1"><%= features_l[0] %>
                                                                </option>
                                                                <option value="f2"><%= features_l[1] %>
                                                                </option>
                                                                <option value="f3"><%= features_l[2] %>
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="col" id="f2Select3D">
                                                            <select class="form-select" name="feature23d" id="feature23d">
                                                                <option value="" selected>--Feature 2--</option>
                                                                <option value="f0">Offset
                                                                </option>
                                                                <option value="f1"><%= features_l[0] %>
                                                                </option>
                                                                <option value="f2"><%= features_l[1] %>
                                                                </option>
                                                                <option value="f3"><%= features_l[2] %>
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="col" id="f3Select3D">
                                                            <select class="form-select" name="feature33d" id="feature33d">
                                                                <option value="" selected>--Feature 3--</option>
                                                                <option value="f0">Offset
                                                                </option>
                                                                <option value="f1"><%= features_l[0] %>
                                                                </option>
                                                                <option value="f2"><%= features_l[1] %>
                                                                </option>
                                                                <option value="f3"><%= features_l[2] %>
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="mt-2" id="zonotopeG3D"></div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex">
                        <div class="card w-100 h-100">
                            <div class="card-header mt-2">
                                <ul class="nav nav-pills card-header-pills" id="tabline" role="tablist">
                                        <li class="nav-item p-2"><h4><b>Testing Results</b></h4></li>
                                        <li class="nav-item">
                                            <a class="nav-link active" id="tab4-tab" data-bs-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="true">
                                            Robustness Report
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="tab5-tab" data-bs-toggle="tab" href="#tab5" role="tab" aria-controls="tab5" aria-selected="false">
                                            Prediction Ranges
                                            </a>
                                        </li>
                                </ul>
                            </div>
                            <div class="card-body p-3">
                                <div class="tab-content" id="tabContents">
                                    <div class="tab-pane fade show active" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
                                        <% if (expression=='' ) { %>
                                            <div><p class="card-text">Nothing is selected.</p></div>
                                        <% } else { %>
                                            <div id="robustnessGraph">
                                            </div>
                                        <% } %>
                                    </div>

                                    <div class="tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="tab5-tab">
                                        <% if (expression=='' ) { %>
                                            <div><p class="card-text">Nothing is selected.</p></div>
                                        <% } else { %>
                                            <div id="headingGroup" class="text-center d-none d-lg-block mt-2">
                                                <h3>Table of Test Dataset and Prediction Ranges</h3>
                                            </div>
                                            <div class="mt-3">
                                                <div class="prediction-table">
                                                    <table class="table table-sm table-hover table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">#</th>
                                                                <% const features_list = JSON.parse(features) %>
                                                                <% for (var c in features_list) { %>
                                                                    <th scope="col"><%= features_list[c] %></th>
                                                                <% } %>
                                                                <th scope="col" class="thick-border">Prediction Center</th>
                                                                <th scope="col">Prediction Range</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% for (var i=0; i<center.length; i++) { %>
                                                                <tr>
                                                                    <th scope="row"><%= i+1 %></th>
                                                                    <% for (var j in x_test[i]) { %>
                                                                        <td><%= x_test[i][j] %></td>
                                                                    <% } %>
                                                                    <td class="thick-border"><%= center[i] %></td>
                                                                    <td>[<%= lb[i] %>, <%= ub[i] %>]</td>
                                                                </tr>
                                                            <% } %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

    </section>

    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.35.2.min.js" charset="utf-8"></script>
    <script src="testdropdown.js"></script>
    <script>
        var weights = [<%= weight_mid %>];
        var weights_max = [<%= weight_max %>];
        var weights_min = [<%= weight_min %>];
        var x_labels = JSON.parse('<%- features %>')
        var robustness_ratios = [<%= robustness %>]
        const jsonData2D = <%- JSON.stringify(json2D) %>;
        const jsonData3D = <%- JSON.stringify(json3D) %>;
    </script>
    <script src="drawgraph.js"></script>
    <script src="zonotope.js"></script>
    <script src="zonotope3d.js"></script>